---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Decentralized Governance",
    description:
      "Empower your projects with DAO structures, enabling decentralized decision-making and community-driven development in the Web3 space.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Smart City Integration",
    description:
      "Leverage blockchain technology to build smart, interconnected urban environments that enhance sustainability and improve quality of life.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Web3 Education & Workshops",
    description:
      "Offer comprehensive learning modules and interactive workshops focused on Web3, blockchain fundamentals, and their applications in various sectors.",
    icon: "bx:bxs-data",
  },
  {
    title: "Cross-Disciplinary Collaboration",
    description:
      "Foster collaborations across diverse fields like FinTech, cybersecurity, and urban planning to innovate in the realm of Web3 and smart cities.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Non-Profit Initiatives",
    description:
      "Engage in non-profit ventures that utilize blockchain for transparency and efficiency, focusing on societal welfare and community building.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Cybersecurity in Web3",
    description:
      "Implement robust cybersecurity measures to protect digital assets and data privacy in the evolving landscape of Web3 and decentralized networks.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Web3 Excellence Starts with Education
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    FWTX DAO serves our community by enabling students, and multi-disiplinary
    individuals to harness the power of Web3 in the art and sciences. We support
    and foster open source ecosystems and assets in emerging tech.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
