<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} FWTX DAO. All rights reserved.
  </p>
  <p class="text-center text-xs text-slate-500 mt-1">
    Managed by <a
      href="https://yeetum.com/contact"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Eden Advisory
    </a>
  </p>
</footer>
